<a href="https://colab.research.google.com/github/EitanRashkovan/tweet_sentiment/blob/main/Tweet_Sentiment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
! pip install kaggle
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json
! kaggle competitions download -c nlp-getting-started
!pip install mglearn

Requirement already satisfied: kaggle in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (1.5.12)
Requirement already satisfied: six>=1.10 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from kaggle) (1.12.0)
Requirement already satisfied: certifi in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from kaggle) (2019.11.28)
Requirement already satisfied: python-dateutil in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from kaggle) (2.8.1)
Requirement already satisfied: requests in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from kaggle) (2.27.1)
Requirement already satisfied: tqdm in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from kaggle) (4.62.3)
Requirement already satisfied: python-slugify in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from kaggle) (1.26.8)
Requirement already satisfied: text-unidecode>=1.3 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from requests->kaggle) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from requests->kaggle) (2.0.12)
mkdir: /Users/coltersirlin/.kaggle: File exists
cp: kaggle.json: No such file or directory
chmod: /Users/coltersirlin/.kaggle/kaggle.json: No such file or directory
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.7/bin/kaggle", line 11, in <module>
    load_entry_point('kaggle==1.5.12', 'console_scripts', 'kaggle')()
  File "/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/pkg_resources/__init__.py", line 487, in load_entry_point
    return get_distribution(dist).load_entry_point(group, name)
  File "/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/pkg_resources/__init__.py", line 2728, in load_entry_point
    return ep.load()
  File "/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/pkg_resources/__init__.py", line 2346, in load
    return self.resolve()
  File "/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/pkg_resources/__init__.py", line 2352, in resolve
    module = __import__(self.module_name, fromlist=['__name__'], level=0)
  File "/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/kaggle/__init__.py", line 23, in <module>
    api.authenticate()
  File "/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/kaggle/api/kaggle_api_extended.py", line 166, in authenticate
    self.config_file, self.config_dir))
OSError: Could not find kaggle.json. Make sure it's located in /Users/coltersirlin/.kaggle. Or use the environment method.
Requirement already satisfied: mglearn in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (0.1.9)
Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from mglearn) (1.21.0)
Requirement already satisfied: matplotlib in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from mglearn) (3.5.1)
Requirement already satisfied: scikit-learn in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from mglearn) (1.0.2)
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from mglearn) (1.3.0)
Requirement already satisfied: pillow in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from mglearn) (9.0.1)
Requirement already satisfied: cycler in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from mglearn) (0.11.0)
Requirement already satisfied: imageio in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from mglearn) (2.16.0)
Requirement already satisfied: joblib in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from mglearn) (1.1.0)
Requirement already satisfied: python-dateutil>=2.7 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from matplotlib->mglearn) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from matplotlib->mglearn) (1.3.2)
Requirement already satisfied: packaging>=20.0 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from matplotlib->mglearn) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from matplotlib->mglearn) (3.0.7)
Requirement already satisfied: fonttools>=4.22.0 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from matplotlib->mglearn) (4.29.1)
Requirement already satisfied: pytz>=2017.3 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from pandas->mglearn) (2021.1)
Requirement already satisfied: scipy>=1.1.0 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from scikit-learn->mglearn) (1.7.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from scikit-learn->mglearn) (3.1.0)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from python-dateutil>=2.7->matplotlib->mglearn) (1.12.0)

In [16]:
#imports
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import mglearn

trainData = pd.read_csv("./train.csv")
testData = pd.read_csv("./test.csv")

#looking at data
trainData

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [17]:
testData

,id,keyword,location,text
0,0,NaN,NaN,Just happened a terrible car crash
1,2,NaN,NaN,"Heard about #earthquake is different cities, s..."
2,3,NaN,NaN,"there is a forest fire at spot pond, geese are..."
3,9,NaN,NaN,Apocalypse lighting. #Spokane #wildfires
4,11,NaN,NaN,Typhoon Soudelor kills 28 in China and Taiwan
...,...,...,...,...
3258,10861,NaN,NaN,EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...
3259,10865,NaN,NaN,Storm in RI worse than last hurricane. My city...
3260,10868,NaN,NaN,Green Line derailment in Chicago http://t.co/U...
3261,10874,NaN,NaN,MEG issues Hazardous Weather Outlook (HWO) htt...
3262,10875,NaN,NaN,#CityofCalgary has activated its Municipal Eme...

In [18]:
print(trainData[["keyword"]].value_counts())
print("\n")
print(trainData[["location"]].value_counts())

#looking at keyword distribution
print("Number of tweets: \n{}\n Null keywords: \n{}\n Non-null keywords: \n{}".format(trainData.sum(), trainData['keyword'].isna().sum(), trainData['keyword'].notna().sum())) 
print("Null location: \n{}\n Non-null location: \n{}".format(trainData['location'].isna().sum(), trainData['location'].notna().sum()))

keyword
fatalities               45
deluge                   42
armageddon               42
sinking                  41
damage                   41
                         ..
forest%20fire            19
epicentre                12
threat                   11
inundation               10
radiation%20emergency     9
Length: 221, dtype: int64


location
USA               104
New York           71
United States      50
London             45
Canada             29
                 ...
Hueco Mundo         1
Hughes, AR          1
Huntington, WV      1
Huntley, IL         1
åø\_(?)_/åø         1
Length: 3341, dtype: int64
Number of tweets:
id                                                 41429450
text      Our Deeds are the Reason of this #earthquake M...
target                                                 3271
dtype: object
 Null keywords:
61
 Non-null keywords:
7552
Null location:
2533
 Non-null location:
5080

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

In [19]:
trainData.describe()

                 id      target
count   7613.000000  7613.00000
mean    5441.934848     0.42966
std     3137.116090     0.49506
min        1.000000     0.00000
25%     2734.000000     0.00000
50%     5408.000000     0.00000
75%     8146.000000     1.00000
max    10873.000000     1.00000

In [20]:
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS
stopwords=list(ENGLISH_STOP_WORDS)
stopwords.append("make")
stopwords.append("https")
stopwords.append("http")
print(stopwords)

['no', 'interest', 'afterwards', 'fill', 'is', 'twelve', 'but', 'either', 'might', 'done', 'around', 'besides', 'toward', 'system', 'detail', 'so', 'almost', 'herein', 'down', 'most', 'below', 'has', 'it', 'less', 'they', 'hundred', 'from', 'whereas', 'ours', 'that', 'with', 'had', 'which', 'hers', 'must', 'fifteen', 'something', 'beforehand', 'thereupon', 'someone', 'him', 'can', 'on', 'eg', 'ever', 'until', 'hereby', 'made', 'when', 'and', 'whole', 'well', 'become', 'nowhere', 'very', 'latterly', 'un', 'perhaps', 'what', 'couldnt', 'bill', 'put', 'namely', 'beyond', 'except', 'still', 'you', 'onto', 'ourselves', 'its', 'more', 'cant', 'as', 'whose', 'otherwise', 'whereafter', 'nothing', 'in', 'himself', 'each', 'hence', 'themselves', 'since', 'out', 'find', 'only', 'mine', 'for', 'over', 'thru', 'against', 'own', 'than', 'latter', 'others', 'thence', 'several', 'although', 'thereafter', 'hasnt', 'nevertheless', 'fire', 're', 'his', 'any', 'former', 'first', 'though', 'being', 'fifty', 'via', 'ten', 'if', 'ie', 'wherein', 'anything', 'along', 'again', 'three', 'amount', 'us', 'our', 'up', 'everyone', 'such', 'about', 'enough', 'name', 'some', 'empty', 'keep', 'sometime', 'six', 'of', 'yours', 'wherever', 'anywhere', 'or', 'etc', 'not', 'inc', 'here', 'sometimes', 'i', 'we', 'hereupon', 'else', 'whoever', 'among', 'top', 'your', 'before', 'formerly', 'whether', 'whereby', 'me', 'beside', 'together', 'nobody', 'have', 'yourselves', 'third', 'ltd', 'whither', 'few', 'whenever', 'whereupon', 'became', 'across', 'same', 'hereafter', 'often', 'however', 'two', 'because', 'yet', 'found', 'serious', 'alone', 'every', 'be', 'could', 'further', 'go', 'other', 'thick', 'without', 'where', 'nor', 'show', 'never', 'describe', 'seemed', 'please', 'through', 'amoungst', 'neither', 'under', 'off', 'am', 'behind', 'whatever', 'noone', 'seem', 'too', 'even', 'was', 'into', 'take', 'already', 'part', 'always', 'herself', 'at', 'towards', 'a', 'will', 'side', 'both', 'within', 'then', 'during', 'twenty', 'forty', 'their', 'co', 'now', 'nine', 'between', 'five', 'everywhere', 'get', 'her', 'call', 'also', 'anyway', 'seeming', 'should', 'them', 'many', 'after', 'becoming', 'somewhere', 'upon', 'meanwhile', 'may', 'she', 'while', 'full', 'by', 'thin', 'four', 'everything', 'none', 'somehow', 'once', 'throughout', 'bottom', 'been', 'above', 'con', 'there', 'due', 'how', 'moreover', 'these', 'myself', 'becomes', 'see', 'seems', 'cannot', 'the', 'de', 'next', 'he', 'whence', 'those', 'front', 'give', 'why', 'per', 'back', 'therein', 'therefore', 'cry', 'thus', 'were', 'anyone', 'mill', 'mostly', 'my', 'who', 'much', 'sincere', 'whom', 'are', 'to', 'rather', 'one', 'thereby', 'all', 'itself', 'another', 'indeed', 'last', 'this', 'an', 'least', 'move', 'do', 'would', 'sixty', 'eight', 'eleven', 'anyhow', 'elsewhere', 'amongst', 'yourself', 'make', 'https', 'http']

In [21]:
'''from sklearn.feature_extraction.text import CountVectorizer
tweetTrainList = trainData["text"].tolist()

vect = CountVectorizer(min_df=15, stop_words=stopwords,  ngram_range=(1,2)).fit(tweetTrainList)
X_train = vect.transform(tweetTrainList)
print("X_train:\n{}".format(repr(X_train)))

feature_names = vect.get_feature_names()
print("Number of features: {}".format(len(feature_names)))
print("Every 200th feature: {}".format(feature_names[::100]))

'''

'from sklearn.feature_extraction.text import CountVectorizer\ntweetTrainList = trainData["text"].tolist()\n\nvect = CountVectorizer(min_df=15, stop_words=stopwords,  ngram_range=(1,2)).fit(tweetTrainList)\nX_train = vect.transform(tweetTrainList)\nprint("X_train:\n{}".format(repr(X_train)))\n\nfeature_names = vect.get_feature_names()\nprint("Number of features: {}".format(len(feature_names)))\nprint("Every 200th feature: {}".format(feature_names[::100]))\n\n'

In [22]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV

pipe = make_pipeline(TfidfVectorizer(min_df=5, norm=None, ngram_range=(1,3)), LogisticRegression(max_iter = 10000))
param_grid = {'logisticregression__C': [0.001, 0.01, 0.1, 1, 10]}
grid = GridSearchCV(pipe, param_grid, cv=5)
grid.fit(trainData["text"], trainData["target"])
print("Best cross-validation score: {:.2f}".format(grid.best_score_))

Best cross-validation score: 0.72

In [23]:
vectorizer = grid.best_estimator_.named_steps["tfidfvectorizer"]
# transform the training dataset
X_train = vectorizer.transform(trainData["text"])
# find maximum value for each of the features over the dataset
max_value = X_train.max(axis=0).toarray().ravel()
sorted_by_tfidf = max_value.argsort()

# get feature names
feature_names = np.array(vectorizer.get_feature_names())
print(feature_names)
print("Features with lowest tfidf:\n{}".format(
 feature_names[sorted_by_tfidf[:20]]))
print("Features with highest tfidf: \n{}".format(
 feature_names[sorted_by_tfidf[-20:]]))

['00' '00 at' '00 pm' ... 'ûïwhen saw coaches' 'ûò' 'ûó']
Features with lowest tfidf:
['û_ http' 'û_ http co' 'full' 'accident' 'many' 'and the' 'make' 'death'
 'help' 'look' 'wildfire' 'right' 'those' 'hot' 'fatal' 'by the'
 'northern' 'read' 'god' 'any']
Features with highest tfidf:
['nc' 'route' 'ar' 'justice' 'al' 'hill' 'check' 'fucking' 'bus' 'his'
 'issues' 'same' 'fire' 'lt' 'hey' 'bestnaijamade' 'on fire' 'gt gt' 'gt'
 'wreck']

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [24]:
coeffs = grid.best_estimator_.named_steps["logisticregression"].coef_
print(coeffs)
coeffList = np.sort(coeffs.squeeze())
print(type(coeffList))
print(len(feature_names))

#lowest tfidf
print("\nLowest tdfif coefficients and words")
for i in range(0, 20):
  print(str(coeffList[i]) + " " + str(feature_names[sorted_by_tfidf[:20]][i]))

#highest
print("\nHighest tdfif coefficients and words")

for i in range(0, 20):
  print(str(coeffList[::-1][i]) + " " + str(feature_names[sorted_by_tfidf[20:]][i]))

[[ 0.00505968 -0.00258535  0.01203631 ...  0.00538484  0.01357392
  -0.00443551]]
<class 'numpy.ndarray'>
6489

Lowest tdfif coefficients and words
-0.11353188405668546 û_ http
-0.0933198677036717 û_ http co
-0.0739218716994141 full
-0.056244401561052974 accident
-0.05500809838514848 many
-0.05375693961186721 and the
-0.05094881469703667 make
-0.046345382919322185 death
-0.043767312831582035 help
-0.04216588303115151 look
-0.040292379736899746 wildfire
-0.03896691672028891 right
-0.038310742308961386 those
-0.03791893486589352 hot
-0.037527648579439105 fatal
-0.037232126025815916 by the
-0.036976532988616445 northern
-0.036972252592630546 read
-0.03624967789780771 god
-0.035588214011523296 any

Highest tdfif coefficients and words
0.13572348491399858 flood
0.10195707205634974 said
0.09710852079970905 flames
0.09290649740663606 everyone
0.09286999782936887 come
0.08801229918210726 injured
0.07795295641112072 under
0.07779661086542639 ever
0.07739270350297851 have been
0.07615195718944107 while
0.07567108879561453 im
0.07294490616256237 content
0.07200996901046026 cross
0.0716938236766313 since
0.06709345050638739 most
0.06682383088671255 more than
0.06598350697133054 military
0.06438103221969971 before
0.06435066100812985 ass
0.06230429404213191 to get

In [25]:
feature_names.shape

(6489,)

In [26]:
mglearn.tools.visualize_coefficients(grid.best_estimator_.named_steps["logisticregression"].coef_, feature_names, n_top_features = 40)



'''
# plot them


coef = coeffList.ravel()
positive_coefficients = np.argsort(coef)[-20:]
negative_coefficients = np.argsort(coef)[:20]
interesting_coefficients = np.hstack([negative_coefficients,
                                      positive_coefficients])

plt.figure(figsize=(15, 5))
colors = ["blue" if c < 0 else "red"
          for c in coef[interesting_coefficients]]
plt.bar(np.arange(2 * 20), coef[interesting_coefficients],
        color=colors)

plt.subplots_adjust(bottom=0.3)
plt.xticks(np.arange(1, 1 + 2 * 20),
            feature_names, rotation=60,
            ha="right")
plt.ylabel("Coefficient magnitude")
plt.xlabel("Feature")'''

NameError: name 'mglearn' is not defined

In [ ]:
mglearn.tools.visualize_coefficients(grid.best_estimator_.named_steps["logisticregression"].coef_, feature_names, n_top_features = 40)

In [ ]:
print(feature_names)

In [ ]:
#Get top and bottom 20 coefficient names (X)
#                                  values (Y)
feature_values = np.array(vectorizer.g)
pltX = feature_names[sorted_by_tfidf[:20]] + feature_names[sorted_by_tfidf[20:]]
pltY = 




fig, ax = plt.subplots()
p1 = ax.bar()

In [ ]:
''' 
# Naive Bayes model

# store the feature matrix (X) and response vector (y)
X = iris.data
y = iris.target

# splitting X and y into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=1) '''

# training the model on training set
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(trainData["text"], trainData["target"])

# making predictions on the testing set
y_pred = gnb.predict(testData["text"])

# comparing actual response values (y_test) with predicted response values (y_pred)
from sklearn import metrics
print("Gaussian Naive Bayes model accuracy(in %):", metrics.accuracy_score(testData["target"], y_pred)*100)